

.main-container

	.summary
		ul
			li
				.inner
					.title Ваш текущий<br>статус
					.icon: img(src=require('img/stat.png'))
					.caption
						p Для повышения вашего  статуса до "золотого" вам необходимо набрать ещё 525 баллов.
						p: a(href='#') Подробнее о программе лояльности

			li
				.inner
					.title текущий размер<br>вашей скидки
					.icon 15<span>%</span>
					.caption
						p Указана предварительная скидка, финальную скидку определяет дистрибьютор
						p: a(href='#') Как увеличить размер скидки?
			li
				.inner
					.title накоплено<br>баллов
					.icon 2645
					.caption
						p Баллы — основной показатель программы лояльности, определяющий вашу скидку
						p: a(href='#') Как заработать баллы?
			li
				.inner
					.title накоплено<br>бонусов
					.icon 84
					.caption
						p Бонусами можно оплатить покупки или обменять на брендированную продукцию
						p: a(href='#') Узнать подробнее


