
.main-container__center(show-delay)

	.inner


		h1 Login

		ul
			li: a(ui-sref="app.page.logout") logout
			li: a(ui-sref="app.page.home") home
			li: a(ui-sref="app.page.404") 404
			li: a(ui-sref="app.page.403") 403
			li: a(ui-sref="app.page.dev") dev


