

body[data-page='404']
	

	[ui-view="content"]

		.inner
			
			text-align center
			
			h1
				font-size 30px
				font-weight bold
				text-transform uppercase

			p.link
				margin-top 20px
				a
					btn-1(300)
					margin 0 auto
					padding-left 30px
					padding-right 30px